html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: dotMatrix;
  src: url("/dotmatrix.woff2");
}
body {
  background: url("/background-animTrans.gif") no-repeat center center/cover;
  background-color: rgb(255, 255, 0);
  margin: 0;
  font-family: "Archivo Narrow", sans-serif;
}
.wrapper {
  min-height: 87vh;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
header {
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  text-align: center;
  padding: 4rem;
  font: 400 36px dotMatrix, sans-serif;
}
h1 { transform: rotate(3deg); color: rgb(141, 67, 218); }
h2 {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  transform: rotate(1.5deg);
  text-align: center;
  text-shadow: #000000 2px 0 2rem;
}
h3 { font-size: 2.5rem; text-align: center; line-height: 3rem; }
a { text-decoration: none; color: #fae73e; }
a:hover { color: #cccccc; }
.signUp {
  text-align: left;
  color: rgba(255, 255, 0, 0.8);
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 2rem;
}
.form-wrapper { width: 300px; margin: 0 auto; }
.form-content { padding: 10px; }
label { display: block; margin-bottom: 5px; }
input[type="text"], input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: inherit;
}
button {
  color: #000000;
  padding: 2rem;
  margin: 1rem 0;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  line-height: 2rem;
  background-color: rgba(255,255,0,0.9);
  border: 1px solid #000;
}
button:hover {
  background-color: rgba(141,67,218,0.9);
  color: #cccccc;
}
.content-members {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.5rem;
}
#membersList {
  width: 408px;
  height: 100vh;
  text-align: left;
  padding: 0 2rem 2rem 2rem;
  margin: -2rem auto 2rem auto;
  background: #000000;
  color: #cccccc;
  font-size: 1rem;
}
.membersFrom {
  transform: rotate(0.3deg);
  color: #bfb6cc;
  display: block;
  margin: -1rem 0;
}
#printMembers {
  background-image: linear-gradient(25deg, #af74ed, #F3F3F4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}
.member-line { margin-bottom: 1rem; font-size: 1.1rem; }
